.rng-text {
	background: linear-gradient(
		60deg,
		#f79533,
		#f37055,
		#ef4e7b,
		#a166ab,
		#5073b8,
		#1098ad,
		#07b39b,
		#6fba82,
		#b1c94e,
		#fde74c,
		#ff7f51,
		#ff4e50,
		#ff6b6b,
		#c0c0aa,
		#8a9a5b,
		#6a7d5a
	);
	animation: animated-gradient 5s ease alternate infinite;
	background-size: 300% 300%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

@keyframes animated-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gradient-border {
	--borderWidth: 2px;
	position: relative;
}
.gradient-border:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	border-radius: 12px;
	z-index: -1;
	animation: animated-gradient 3s ease alternate infinite;
	background-size: 300% 300%;
	pointer-events: none;
}

@keyframes animated-gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

::selection {
	color: #fff;
	background: #df0790;
}
::-moz-selection {
	color: #000;
	background: #df0790;
}
